<div class="form-val">
          <label for="first-name" class="form-label">First Name</label>
          <input
            required
            type="text"
            class="form-input"
            name="first_name"
            value="{{first_name}}"
            id="first-name"
          />
        </div>
        <br />
        <div class="form-val">
          <label for="last-name" class="form-label">Last Name</label>
          <input
            required
            type="text"
            class="form-input"
            name="last_name"
            value="{{last_name}}"
            id="last-name"
          />
        </div>
        <br />
        <div class="form-val">
          <label for="email" class="form-label">Email</label>
          <input
            required
            type="email"
            class="form-input" 
            name="email"
            value="{{email}}"
            id="email" 
          />
        </div>
        <br />
        <div class="form-val">
          <label for="phone" class="form-label">Phone #</label>
          <input
            required
            type="text"
            class="form-input" 
            name="phone"
            value="{{phone}}" 
            id="phone" 
         />
        </div>
        <br />
        <div class="form-val">
          <label for="department" class="form-label">Department</label>
          <input
            required
            type="text"
            class="form-input"
            name="department"
            value="{{department}}"
            id="department"
          />
        </div>
        <br />
        <div class="form-btn">
          <button id="form-submit">Submit</button>
        </div>