
<table>
  <thead>
    <tr>
      <th scope="row">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Department</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each data}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{email}}</td>
        <td>{{phone}}</td>
        <td>{{department}}</td>
        <td class="action">

          <a href="/show" type="button" class="action-btn" id="view"><button
            >View</button></a>
          <a href="#" type="button" class="action-btn" id="edit"><button
            >Edit</button></a>
          <a href="#" type="button" class="action-btn" id="delete"><button
            >Delete</button></a>

        </td>
      </tr>

    {{/each}}

  </tbody>
</table>