

<div class="modal-container" id="modal-contain">
  <div class="modal" id="emp-modal">
    <span id="close-modal-btn">&#88</span>
    <h2>Add Employee</h2>
    <div class="form">
      <form action="#" class="modal-form">
        <div class="form-val">
        <label for="first-name" class="form-label">First Name</label>
        <input type="text" class="form-input" id="first-name">
        </div>
<br>
        <div class="form-val">
        <label for="last-name" class="form-label">Last Name</label>
        <input type="text" class="form-input" id="last-name">
        </div>
<br>
        <div class="form-val">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-input" id="email">
        </div>
<br>
        <div class="form-val">
        <label for="phone" class="form-label">Phone #</label>
        <input type="text" class="form-input" id="phone">
        </div>
<br>
        <div class="form-val">
        <label for="department" class="form-label">Department</label>
        <input type="text" class="form-input" id="department">
        </div>
<br>
        <div class="form-btn">
        <button id="form-submit">Submit</button>
        </div>
      </form>
    </div>


  </div>
</div>


<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Hire Date</th>
      <th scope="col">Department</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each data}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{first_name}}</td>
      <td>{{last_name}}</td>
      <td>{{email}}</td>
      <td>{{phone}}</td>
      <td>{{hire_date}}</td>
      <td>{{department}}</td>
      <td>{{status}}</td>
      <td class="action">

        <a href="#" type="button" id="view"><button>View</button></a>
        <a href="#" type="button" id="edit"><button>Edit</button></a>
        <a href="#" type="button" id="delete"><button>Delete</button></a>

      </td>
    </tr>

    {{/each}}

  </tbody>
</table>



