
<div class="show-window">
    <div class="show-container">

        <div class="show-name-data">
        {{#each data}}
            <h1><span>{{id}}: </span>{{first_name}} <span>{{last_name}}</span></h1>
        </div>
        <div class="show-content">
            <div class="show-title">
                <h3 class="show-dep">Department</h3>
                <h4 class="show-info">Phone</h4>
                <h4 class="show-info">Email</h4>

            </div>
            <div class="show-data">
                <h3 class="show-dep">{{department}}</h3>
                <h4 class="show-info">{{phone}}</h4>
                <h4 class="show-info">{{email}}</h4>
            </div>
            {{/each}}
        </div>
        <div class="show-action">
            <a href='/'><button id="show-index">Back to Index</button></a>
            <a href ="#"><button id="show-edit">Edit Employee</button></a>
        </div>

    </div>
</div>

{{!-- <style>
    /* Employee Show Page -- For whatever reason, it would not render through external style sheet ????? */
.show-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 10; 
}
.show-container {
  background-color: #e1e1e1;
  height: 100%;
  max-height: 500px;
  width: 100%;
  max-width: 750px;
  position: relative;
  margin: 10px auto;
  border: 2px inset #ae0e0e;
  border-radius: 5px;
  box-shadow: rgba(210, 28, 28, 0.3) 5px 5px 15px;
  top: 10%;
  text-align: center;
  padding: 1em;
} 

.show-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.show-title {
  display: flex;
  flex-direction: column;
  margin: 1em 3em 3em;
  font-size: 1.3rem;
}

.show-data {
  display: flex;
  flex-direction: column;
  margin: 1em 3em 3em;
  font-size: 1.3rem;
}

#show-index {
  background-color: #ae0e0e;
  padding: .5em;
  width: fit-content;
  border-radius: 5px;
  color: white;
  margin: 1em;
}

#show-delete {
  background-color: #ae0e0e;
  padding: .5em;
  width: fit-content;
  border-radius: 5px;
  color: white;
  margin: 1em;
}

button:hover {
  /* transform: translateY(-1px); */
  background-color: #ae0e0e;
  border: 3.5px #e13131a9 solid;
  color: #eee;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: ease-in 0.15s;
  cursor: pointer;
}
</style>
 --}}
