
<div class="show-window">
    <div class="show-container">

        <div class="show-name-data">
        {{#each data}}
            <h1><span>{{id}}: </span>{{first_name}} <span>{{last_name}}</span></h1>
        </div>
        <div class="show-content">
            <div class="show-title">
                <h3 class="show-dep">Department</h3>
                <h4 class="show-info">Phone</h4>
                <h4 class="show-info">Email</h4>

            </div>
            <div class="show-data">
                <h3 class="show-dep">{{department}}</h3>
                <h4 class="show-info">{{phone}}</h4>
                <h4 class="show-info">{{email}}</h4>
            </div>
          
        </div>
        <div class="show-action">
            <a href='/'><button id="show-index">Back to Index</button></a>
            <a href ="/edit/{{id}}"><button id="show-edit">Edit Employee</button></a>
        </div>
     {{/each}}
    </div>
</div>

